h1{
    padding-bottom: 30px;
    padding-top: 30px;
}

.loginContainer{
    margin-top: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container{
    text-align: center;
    width: 380px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.Formulario{
    background-color: #dbdbdb;
    height: 280px;
    width: auto;
    text-align: center;
    display: flex;
    padding-top: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Error{
    margin-top: 10px;
    color: red;
    border-radius: 10px;
    background-color: #ffd1d1;
    border-color: red;
    border: solid 1px;
}
