.inicioContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 525px;
  }
  
  .statusBox {
    width: 300px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 1.0em;
  }
  
  .pendiente {
    background-color: #f39c12;
  }
  
  .preparacion {
    background-color: #e67e22;
  }
  
  .finalizado {
    background-color: #2ecc71;
  }
  
  .numeroCount{
    font-size: 30px;
  }