.todo {
  display: flex;
  flex-direction: column;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px; 
}

.statusBox {
  flex: 1;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 1.0em;
}

.statusBox.pendiente {
  background-color: #f5f5f5;
}

.statusBox.preparacion {
  background-color: #eaf4fc;
}

.statusBox.finalizado {
  background-color: #f9f9f9;
}

.numeroCount {
  font-size: 30px;
  font-weight: bold;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los gráficos se envuelvan si es necesario */
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.chartContainer > div {
  flex: 1;
  margin: 0 10px;
  min-width: 0; /* Evita que el contenido se desborde */
  max-width: calc(50% - 20px); /* Mitad del ancho menos el margen horizontal */
}

.chartContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .statusContainer, .chartContainer {
    flex-direction: column;
    align-items: center;
  }

  .chartContainer > div {
    margin: 10px 0;
    max-width: 100%; /* Ancho completo en pantallas pequeñas */
  }
}